/* You can add global styles to this file, and also import other style files */
.btn {
  margin-right: 5px;
}

input.ng-touched.ng-invalid {
  border-left: 5px solid red;
}
textarea.ng-touched.ng-invalid {
  border-left: 5px solid red;
}
