<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()"> <!-- Synchronize ts file form and html-->
        <div class="form-group">
          <div formGroupName="userData">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <span *ngIf="signUpForm.get('userData.username').invalid && this.signUpForm.get('userData.username').touched"
                  class="help-block">
            Please input a correct username
          </span>
            <div class="form-group">
              <label for="email">email</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control">
              <span *ngIf="signUpForm.get('userData.email').invalid && this.signUpForm.get('userData.email').touched"
                    class="help-block">
            Please input a correct email
          </span>
            </div>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender"
            >{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
